<mat-form-field [appearance]="appearance" [floatLabel]="floatLabel">
    <mat-label>{{label}}</mat-label>

    <textarea matInput type="text" [(ngModel)]="_value" [errorStateMatcher]="errorStateMatcher" [required]="_required"
        [placeholder]="placeholder" [disabled]="disabled" [readonly]="readonly"
        aria-label="textarea"></textarea>

    <ng-container matSuffix>
        <mat-progress-spinner [mode]="'indeterminate'" [diameter]="20" *ngIf="formControl.pending">
        </mat-progress-spinner>
        <button mat-icon-button aria-label="Clear" (click)="_value = null" *ngIf="!formControl.pending && showClearBtn"
            [disabled]="disabled || readonly">
            <mat-icon>close</mat-icon>
        </button>
    </ng-container>

    <mat-hint>{{hint}}</mat-hint>

    <mat-error>{{getErrorMessage()}}</mat-error>
</mat-form-field>