<mat-card style="text-align: center;">
    <h1>Password</h1>
</mat-card>
<mat-card class="card-container">
    <mat-card>
        <mat-card-subtitle>
            ReactiveForms
        </mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="fg">
                <qui-password label="QuiInputLabel" 
                            formControlName="input" 
                            [hint]="hint"
                            [label]="label"
                            [placeholder]="placeholder"
                            [appearance]="apperanceItem"
                            [floatLabel]="floatLabelItem"
                            [hidden]="hidden"
                            [readonly]="readonly"></qui-password>
            </form>
        </mat-card-content>
        <mat-card-footer>
            {{fg.value | json}}
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-subtitle>
            NgModel
        </mat-card-subtitle>
        <mat-card-content>
            <qui-password label="QuiInputLabel" [(ngModel)]="ngModel" 
                    [required]="required"
                    [disabled]="disabled"
                    [hint]="hint"
                    [label]="label"
                    [placeholder]="placeholder"
                    [appearance]="apperanceItem"
                    [floatLabel]="floatLabelItem"
                    [hidden]="hidden"
                    [readonly]="readonly"></qui-password>
        </mat-card-content>
        <mat-card-footer>
            {{ngModel}}
        </mat-card-footer>
    </mat-card>
</mat-card>
<mat-card>
    <p>Error messages (with translations) can be set up in QuiErrorMessageService</p>
</mat-card>