<mat-form-field appearance="standard">
    <mat-label>Label</mat-label>
    <input matInput 
            type="text" 
            [(ngModel)]="_value" 
            placeholder="label" 
            [errorStateMatcher]="errorStateMatcher" 
            [required]="required" 
            [disabled]="disabled">
    <button matSuffix mat-icon-button aria-label="Clear" (click)="_value = ''">
      <mat-icon>close</mat-icon>
    </button>
    <mat-error>Required <strong>Email</strong></mat-error>
</mat-form-field>