<mat-toolbar color="primary">
  <mat-toolbar-row>
    <h1>AngularCVA</h1>
    <div class="nav-container">
      <button mat-raised-button color="accent" [routerLink]="'/'"> Input </button>
      <button mat-raised-button color="accent" [routerLink]="'select'"> Select </button>
      <button mat-raised-button color="accent" [routerLink]="'checkbox'"> Checkbox </button>
      <button mat-raised-button color="accent" [routerLink]="'textarea'"> Textarea </button>
      <button mat-raised-button color="accent" [routerLink]="'auto-complete'"> Auto-complete </button>
      <button mat-raised-button color="accent" [routerLink]="'datepicker'"> Datepicker </button>
      <button mat-raised-button color="accent" [routerLink]="'number'"> Number </button>
      <button mat-raised-button color="accent" [routerLink]="'password'">Password</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
<div class="content-container">
  <router-outlet></router-outlet>
</div>