<mat-form-field [appearance]="appearance">
    <mat-label>{{label}}</mat-label>
    <input matInput 
            type="text" 
            [(ngModel)]="_value" 
            [placeholder]="placeholder" 
            [errorStateMatcher]="errorState()" 
            [required]="required"
            [disabled]="disabled"
            [readonly]="readonly" />

    <mat-hint *ngIf="hint.length > 0">{{hint}}</mat-hint>

    <ng-container matSuffix>
        <mat-progress-spinner [mode]="'indeterminate'" [diameter]="20" *ngIf="formCtr.pending"></mat-progress-spinner>
        <button 
        mat-icon-button 
        aria-label="Clear" 
        (click)="_value = null" 
        *ngIf="!formCtr.pending && showClearBtn"
        [disabled]="disabled">
            <mat-icon>close</mat-icon>
        </button>
    </ng-container>

    <mat-error>{{errorMessage}}</mat-error>
</mat-form-field>