<mat-card style="text-align: center;">
    <h1>Autocomplete</h1>
</mat-card>
<mat-card class="card-container">
    <mat-card>
        <mat-card-subtitle>
            ReactiveForms
        </mat-card-subtitle>
        <mat-card-content>
            <form [formGroup]="fg">
                <qui-auto-complete formControlName="input" [initValue]="items[0]" [filterOptions]="filterOption.bind(this)"></qui-auto-complete>
                <br>
                <qui-auto-complete formControlName="input2" [items]="items"></qui-auto-complete>
            </form>
        </mat-card-content>
        <mat-card-footer>
            {{fg.value | json}}
            <br>
            <br>
            <ng-container *ngFor="let item of items">
                <p>{{item.viewValue}}</p>
            </ng-container>
        </mat-card-footer>
    </mat-card>
    <mat-card>
        <mat-card-subtitle>
            NgModel
        </mat-card-subtitle>
        <mat-card-content>
        </mat-card-content>
        <mat-card-footer>
            {{ngModel}}
        </mat-card-footer>
    </mat-card>
</mat-card>
<mat-card>
    <p>Error messages (with translations) can be set up in QuiErrorMessageService</p>
</mat-card>