<mat-grid-list cols="2" rowHeight="3:4">
    <mat-grid-tile>
  
      <mat-card>
        <mat-card-title>
          ReactiveForm
        </mat-card-title>
  
        <form [formGroup]="fg">
          <mat-card>
            <mat-card-subtitle>Default input</mat-card-subtitle>
            <mat-form-field appearance="standard">
              <mat-label>Clearable input</mat-label>
              <input matInput type="text" formControlName="default" placeholder="label">
              <button matSuffix mat-icon-button aria-label="Clear" (click)="fg.get('default')?.setValue('')">
                <mat-icon>close</mat-icon>
              </button>
              <mat-error>Required <strong>Email</strong></mat-error>
            </mat-form-field>
          </mat-card>  <br/>
          
          <mat-card>
            <mat-card-subtitle>Input</mat-card-subtitle>
            <qui-input formControlName="input"></qui-input>
          </mat-card>  <br/>
  
          <mat-card>
            <mat-card-subtitle>Input2</mat-card-subtitle>
            <qui-input2 formControlName="input2"></qui-input2>
          </mat-card>  <br/>
  
          <mat-card>
            <mat-card-subtitle>Input5</mat-card-subtitle>
            <qui-input5 formControlName="input5" label="Label" [showClearBtn]="true"></qui-input5>
          </mat-card>  <br/>
  
          <mat-card>
            <button mat-raised-button color="primary" (click)="onClick()">SuperButton</button>
          </mat-card>  <br/>
        </form>
  
        <mat-card>
          {{fg.value | json}}
        </mat-card>  <br/>
  
        <mat-card>
          {{fg.valid}}
        </mat-card>  <br/>
  
      </mat-card>
    </mat-grid-tile>
  
    <mat-grid-tile>
  
      <mat-card>
        <mat-card-title>
          NormalForm
        </mat-card-title>
        <mat-card>
          <qui-input2 [(ngModel)]="input2Value"></qui-input2>
        </mat-card>  <br/>
  
        <mat-card>
          {{ input2Value }}
        </mat-card>  <br/>
  
      </mat-card>
    </mat-grid-tile>
  
  </mat-grid-list>