<mat-grid-list cols="2" rowHeight="3:4">
    <mat-grid-tile>
  
      <mat-card>
        <mat-card-title>
          ReactiveForm
        </mat-card-title>
  
        <form [formGroup]="fg">
          <mat-card>
            <mat-card-subtitle>Default input</mat-card-subtitle>
            <mat-form-field appearance="standard">
              <mat-label>Clearable input</mat-label>
              <mat-error>Required <strong>Email</strong></mat-error>
            </mat-form-field>
          </mat-card>  <br/>
          
          <mat-card>
            <mat-card-subtitle>Checkbox</mat-card-subtitle>
          </mat-card>  <br/>

          <mat-card>
            <mat-card-subtitle>Input</mat-card-subtitle>
          </mat-card>  <br/>

        </form>
  
        <mat-card>
          {{fg.value | json}}
        </mat-card>  <br/>
  
        <mat-card>
          {{fg.valid}}
        </mat-card>  <br/>
  
      </mat-card>
    </mat-grid-tile>
  
    <mat-grid-tile>
  
      <mat-card>
        <mat-card-title>
          NormalForm
        </mat-card-title>
        <mat-card>
          <mat-form-field appearance="outline" floatLabel="auto">
            <mat-label>Label</mat-label>
          </mat-form-field>
        </mat-card>  <br/>
        <mat-card>
        </mat-card>  <br/>
  
        <mat-card>
          {{ input2Value }}
        </mat-card>  <br/>
  
      </mat-card>
    </mat-grid-tile>
  
  </mat-grid-list>